/* Estilo para resaltar el último elemento */
.ultimo-elemento-malo {
    color: red;
    font-weight: bold;
}

.ultimo-elemento-bueno{
    color: green;
    font-weight: bold;
}

h1 {
    color: white;
}

#Portada {
    background-color: black;
}